- phone ||= ""
- phone_note ||= ""
%article.compact{:class => "user#{user_id}"}
  = image_tag image, :width => 128, :height => 128, :alt => name
  %ul.nav.nav--stacked
    %li.bold= name.html_safe
    %li= link_to email, "mailto:#{email}"
    %li= phone
