- if admin? and @all_sites.rejected.any?
  %ul
    - for site in @all_sites.rejected
      %li
        .left
          = link_to site.name, site
          = link_to "(#{site.url})", "http://" + site.url, :target => "_blank"
          = site.language
        .right
          = render :partial => "state_change_button", :locals => { :site => site, :new_state => "suggested", :submit => "Restore" }
        .clear
  