- title @site.name

#nosto
  %h1
    = link_to @site.name, "http://" + @site.url
    - if admin? && @site.articles.any?
      %button.small{"data-toggle" => ".site_editor"} Edit
  = link_to "http://" + @site.url, "http://" + @site.url
#news
  - if admin?
    #terms.site_editor{:style => @site.articles.any? ? "display: none" : ""}
      = form_for @site do |f|
        = render :partial => "errors", :locals => { :record => @site }
        
        %div
          = f.label :name
          = f.text_field :name
        %div
          = f.label :url
          = f.text_field :url
        %div
          = f.label :language
          = f.select :language, language_codes.invert
        %div
          = f.label :state
          = f.select :state, [ :confirmed, :rejected, :suggested ]
        %div
          = f.submit "Save"  
          
      - unless @site.confirmed?
        = button_to "Delete permanently", @site, :method => :delete, :confirm => "Are you sure you want to permanently delete this site?", :style => "float: right"


  #list.articles
    .heading
      %a.active{"data-feed-param" => {  }.to_query, "data-title" => "hot"} Hot
      %a{"data-feed-param" => { :order => "articles.created_at" }.to_query, "data-title" => "new"} New
      %a{"data-feed-param" => { :order => "articles.score" }.to_query, "data-title" => "top"} Top scoring
      %a{"data-feed-source" => authors_url(:site_id => @site.id), "data-title" => "authors"} Authors
    #feed.loading{"data-feed-params" => { :site => @site.id, :limit => 10, :period => 1.year }.to_query, "data-feed-additional" => ""}

  #sidebar
    #scroller
      .article-details
